.user-table {
  vertical-align: middle;
  text-align: center;
}


.btn-users-show {
  margin-top: -10px;
  margin-bottom: 10px;
}


// 勤怠情報テーブル

#table-attendances {
  th {
    vertical-align: middle;
    text-align: center;
  }
  td {
    vertical-align: middle;
    text-align: center;
  }
}



.label-signup {
  margin-top: 5px;
}

.btn-signup {
  margin-top: 10px;
}

.label-user--edit {
  margin-top: 5px;
}

.btn-user--edit {
  margin-top: 10px;
}


#table-users {
  td {
    vertical-align: middle;
  }  
}


.label-basic-info {
  margin-top: 5px;
}

.btn-basic-info {
  margin: 15px 0;
  width: 30%;
}



.btn-flat-border {
  display: inline-block;
  padding: 0.3em 1em;
  text-decoration: none;
  color: silver;
  border: solid 2px #67c5ff;
  border-radius: 3px;
  transition: .4s;
}